{% extends "base_layout.html" %}
{% block title %}Edycja organizacji{% endblock %}

{% block content %}

<div style="max-width:700px; margin:30px auto;">

    <h2>Edytuj organizację</h2>

    <form method="POST">

        <label>Nazwa</label>
        <input type="text" name="org_nazwa" value="{{ org.org_nazwa }}" required>

        <label>Skrót</label>
        <input type="text" name="org_skrot" value="{{ org.org_skrot }}">

        <label>Typ</label>
        <input type="text" name="org_typ" value="{{ org.org_typ }}">

        <label>Opis</label>
        <textarea name="org_opis">{{ org.org_opis }}</textarea>

        <label>
            <input type="checkbox" name="czy_aktywna" {% if org.czy_aktywna %}checked{% endif %}>
            Aktywna
        </label>

        <br><br>

        <button type="submit">Zapisz</button>

    </form>

</div>

{% endblock %}